<style>
  #ordersTable_filter label{
    display: none;
  }
  #ordersTable_filter{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #ordersTable_paginate {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #ordersTable_length select{
    background-color: white;
    margin-bottom: 10px;
  }
  #ordersTable_length label{
    font-size: 18px;
    font-weight: 500;
    color: blue;
  }
  #ordersTable_info {
    color: blue;
  }
</style>

<section>
    <div class="container mt-5">
        <table class="table mt-5" id="ordersTable">
        <thead style="background-color: orange;">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Order Id</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
            <th scope="col">Payment Method</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
           {{#each orders}}
          <tr>
            <th scope="row">{{@index}}</th>
            <td>#order{{this._id}}</td>
            <td>{{this.date}}</td>
            <td>{{this.status}}</td>
            <td>{{this.paymentMethod}}</td>
            <td><a href="/admin/order-process/{{this._id}}"><i class="fas fa-edit"></i></a></td>
          </tr>
          {{/each}}
        </tbody>
        </table>
    </div>
    <hr class="m-3">
</section>

<script>
  $( function () {
    $('#ordersTable').DataTable({
        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
    });
} );


  $( function () {
    $('#ordersTable').DataTable();
} );
</script>