<style>
    
    .navbar-dark .navbar-nav .nav-link:hover {
        color: orange;
    }
    .nav-item {
        margin-left: 30px;
        font-size: 20px;
        font-weight: bold;
    }
    .navbar-dark .navbar-nav .nav-link{
        color: white;
    }
    .navbar-dark .navbar-nav .nav-link.active{
        color: yellow;
    }
</style>

<header>
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark" style="height: 90px;" id="nav-header">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img style="width: 120px;height: 80px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfOTbSSEiEXBDYndLMpKOO0EQFZGYDChWE0w&usqp=CAU" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">HOME</a>
                </li>
        
                

                {{#if user}}
                <li class="nav-item">
                    <a class="nav-link" href="/orders">ORDERS</a>
                </li>
                {{/if}}

            </ul>

            <li class="nav-item mb-3 p-5">

                    {{#if user}}

                        <a class="nav-link" href="/cart" title="Cart"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="yellow" class="bi bi-cart" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </svg>
                        {{#if usercart}}
                        <span class="badge bg-success" id="cart-count">{{cartCount}}</span></a>
                        {{else}}
                        <span class="badge bg-success" id="cart-count">{{productCount}}</span></a>
                        {{/if}}

                    {{else}}

                        <a class="nav-link" href="/cart" title="Cart"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="yellow" class="bi bi-cart" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </svg></a>

                    {{/if}}
                    
                </li>

           <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                {{#if user}}
                    {{user.Name}}
                {{else}}
                    Account
                {{/if}}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {{#if user}}
                    <li><a class="dropdown-item" href="/user/logout">Logout</a></li> 
                {{else}}
                    <li><a class="dropdown-item" href="/login">Login</a></li>
                {{/if}}
                    
                </ul>
            </div>
            </div>
            </div>
        </nav>
    </header>

<script>

    var links = document.querySelectorAll('.navbar-nav .nav-link');
    var currentUrl = window.location.pathname;
    for (var i = 0; i < links.length; i++) {
        var link = links[i];

        if (link.getAttribute('href') === currentUrl) {
            link.classList.add('active');
        }
    }

    </script>