<style>
    #orderplaced:hover{
        color: black;
        background-color: white;
    }
    .badge{
        position: relative;
    }
    #b1:after{
        content: "";
        display: block;
        width: 250px;
        height: 2px;
        background-color: rgb(40, 84, 231);
        position: absolute;
        top: 10px;
        left:24px;
    }
    #b2:after{
        content: "";
        display: block;
        width: 250px;
        height: 2px;
        background-color: rgb(40, 84, 231);
        position: absolute;
        top: 10px;
        left:22px;
    }
     .card{
        border-radius: 1em;
        position: relative;
        transition: box-shadow 0.3s ease;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
        border: 1px solid black;
    }
    .radio{
        right: 1em;
        position: absolute;
    }
    .card:hover{
        box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.9); 
    }
</style>

<section>
    {{#if user}}

    <div class="container mt-3" style="width: 100%;height:80px;background-color:white;">
        <div style="display: flex;">
        <span class="badge bg-primary mt-4 p-1" style="border-radius: 400px;margin-left:250px;" id="b1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/></svg>
        </span>
        <span class="badge bg-primary mt-4 p-1" style="border-radius: 300px;margin-left:250px;" id="b2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/></svg>
        </span>
        <span class="badge bg-primary mt-4" style="border-radius: 400px;margin-left:240px;" id="b3">3</span>
        </div>
        <div style="display: flex;">
            <h6 style="margin-left: 220px;">Order Placing</h6>
            <h6 style="margin-left: 190px;">Address</h6>
            <h6 style="margin-left: 200px;">Payment</h6>
        </div>
    </div>
    <form action="" method="post" id="checkout-form">
    <div class="container mt-3" style="background-color: rgb(182, 178, 178);">
        <div class="row"> 

            <div class="col-md-6">
            {{#if allAddress}}    
                {{!-- <label class="card mt-5 m-3 p-3" > --}}
                    <h3 class="mt-5 m-3">Select One Delivery Details</h3>
                    <hr class="mt-3 mb-5" style="height: 2px;background-color:rgb(5, 2, 44);">
                    {{#each allAddress}}
                        <label class="card mt-3 p-3">
                        <input name="plan" class="radio selected" type="radio" data-id="{{this._id}}">
                        <input type="hidden" name="selected-address" value="" id="selectedAddress">
                            <span>{{this.fname}}  &nbsp; {{this.lname}}</span> 
                            <span>{{this.address}}, &nbsp;{{this.town}}, &nbsp;{{this.state}},&nbsp;{{this.country}}</span>
                            <span>{{this.pin}}</span>
                            <span>{{this.phone}}</span>
                            <span>{{this.email}}</span>
                            <a href="/checkout/delete-address/{{this._id}}" class="mt-3 btn btn-danger" style="width: 100px;margin-left: 400px;">Delete</a>
                        </label>    
                    {{/each}}    
                {{!-- </label>       --}}
            {{else}}
                <h3 class="mt-5" style="margin-left: 80px;color: red">No address are added</h3>
                <h4 style="margin-left: 80px;">Please add atleast one address.</h4>
                <a href="/add-address" class="btn btn-success mt-5 mx-auto d-grid col-4">Go Back</a>
            {{/if}} 
            </div>
            
            <div class="col-md-4 mt-5" style="margin-left: 150px;">
                <div class="container p-3 mb-3" style="border: 1px dashed black;background-color:white">
                    <h3 class="mt-1" style="color: blue;">Your Order</h3>
                    <hr class="mt-3" style="height: 2px;background-color:rgb(12, 12, 12);">

                    <table class="table mt-5">
                        <thead>
                            <tr style="color: rgb(99, 94, 94);">
                                <th scope="col">Product</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody class="align-middle">
                            {{#each products}}
                            <tr>
                                <td  class="p-3">{{this.product.Name}}</td>
                                <td  class="p-3">{{this.quantity}}</td>
                                {{#if this.offerTotal}}
                                <td  class="p-3">{{this.offerTotal}}</td>
                                {{else}}
                                <td  class="p-3">{{this.total}}</td>
                                {{/if}}
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>

                    <h4 class="mt-5" style="color: red;">Subtotal <span class="float-end" style="margin-right: 20px;">{{total}}</span></h4>
                    <hr class="mt-3" style="height: 2px;background-color:black;">
                    <h3 class="mt-5 mb-2" style="margin-left: 50px;">Payment Method</h3>
                        <hr class="m-3" style="height: 2px;background-color:rgb(12, 12, 12);">
                        <label class="radio-inline mt-3">
                            <input type="radio" name="payment-method" value="COD" checked> COD
                        </label><br>
                        <label class="radio-inline mt-3">
                            <input type="radio" name="payment-method" value="ONLINE"> Online Payment
                        </label>
                    <hr class="m-4">
                    <button type="submit" class="btn btn-dark m-2  mx-auto d-grid" style="width: 270px;padding: 5px;" id="orderplaced">Place Order</button>
                </div>
            </div> 
    
        </div>
    </div>
    </form>
    {{/if}}
    <hr class="m-5">
</section>

<script>

    const radioButtons = document.querySelectorAll('.radio');
    const selectAddress = document.getElementById('selectedAddress')
    
    radioButtons.forEach(button => {
        button.addEventListener('change', (event) => {
            const selectedAddress = event.target.getAttribute('data-id');
            document.querySelector('input[name="selected-address"]').value = selectedAddress;
        });
    });

    $('#checkout-form').submit((e)=> {
        e.preventDefault()
        if(selectAddress.value === '') {
            swal("Error","Please select an address before placing your order.","error")
        } else {
            $.ajax({
                url: '/checkout',
                method: 'post',
                data: $('#checkout-form').serialize(),
                success: (response) => {
                    //alert(response)
                    if(response.status) {
                        location.href = "/orderplaced"
                    } else {
                        if(response.paypalStatus) {
                            paypalForwarding(response)
                        }
                    }
                }
            })
        }
    })

    function paypalForwarding(response) {
        $.ajax({
            url: '/paypal',
            type: "post",
            data: {
                paypalStatus: response.paypalStatus,
                orderId: response.orderId,
                total: response.total
            },
            success: (response) => {
                location.href = response
            }
        })
    }
</script>
