<section>
    <div class="container">

        <div class="card" style="margin-top: 100px;">
            <div class="card-header p-5" style="background-color: aquamarine;text-align:center">
                <h3>Thank you {{user.Name}}.</h3>
                <h4>Order Placed Successfully</h4>
            </div>
            {{!-- {{#each products}}
            <div class="card-body m-3" style="border: 1px solid grey;">
                <img src="/product-images/{{this.product._id}}_1.jpg" alt="product image">
                <h5 class="card-text">{{this.product.Name}}</h5>
                <p>{{this.product.quantity}}</p>
                <p>{{this.total}}</p>
            </div>
            {{/each}} --}}
        </div>
        
    </div>
</section>