<style>
  #orderTable_filter label{
    display: none;
  }
  #orderTable_filter{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #orderTable_paginate {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #orderTable_length select{
    background-color: white;
  }
  #orderTable_length label{
    font-size: 18px;
    font-weight: 500;
    color: blue;
  }
  #orderTable_info {
    color: blue;
  }
</style>

<section>
    <div class="container mt-5">
         <table class="table mt-5" id="orderTable">
        <thead>
          <tr>
            <th scope="col">Order</th>
            <th scope="col">Date</th>
            <th scope="col">Total Amount</th>
            <th scope="col">Payment</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            {{#each orders}}
          <tr>
            <td class="p-3">#order{{this._id}}</td>
            <td class="p-3">{{this.date}}</td>
            <td class="p-3">{{this.total}}</td>
            <td class="p-3">{{this.paymentMethod}}</td>
            <td class="p-3">{{this.status}}</td>
            <td class="p-3"><a href="/orderedProducts/{{this._id}}" class="btn btn-success p-2">View Products</a></td>
          </tr>
          {{/each}}
        </tbody>
        </table>
    </div>
    <hr class="m-3">
</section>

<script>

  $( function () {
    $('#orderTable').DataTable({
        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
    });
} );


  $( function () {
    $('#orderTable').DataTable();
} );

</script>